img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.featured-image {
	margin-top: 20px;
	@include fullWidth();
}

figure {
	margin-top: 2em;
	@include fullWidth();
	margin-bottom: 2em;
}

figcaption {
	text-align: center;
	font-size: 1.5rem;
	color: $grey;
}