input[type="email"] {
	margin-top: 20px;
	width: 100%;
	&:focus {
		border-color: $light-grey;
	}
}

input[type="submit"] {
	float: left;
	background-color: $very-dark-grey;
	border-color: $very-dark-grey;
	color: $white-grey;
	&:hover {
		color: $white-grey;
	}
	&:active {
		color: $white-grey;
	}
}


.form-div {
	background-color: lighten($link-color, 15%);
}

form {
	max-width: 750px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	text-align: left;
	padding: 20px 30px;

	h3 {
		margin-bottom: 0;
		color: $very-dark-grey;
	}

	span {
		font-family: $text-font-stack;
		color: $very-dark-grey;
		font-weight: 500;
		font-size: 2rem;
	}
}
