<div class="card">
	{% if post.teaser %}
	<div class="card-image" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ site.baseurl }}/assets/images/{{ post.teaser }}'); background-size: cover; background-position: center center;">
	</div>
	{% endif %}
	<div class="card-excerpt">
		{% if post.external %}
		<h2>{{ post.title }} [{{ post.host }}]</h2>
		{% else %}
		<h2>{{ post.title }}</h2>
		{% endif %}
		{{ post.excerpt }}
	</div>
	<span class="read-more">
		<span class="link">Read More</span>
	</span>
</div>