<footer>
	<div class="about">
		<span><img src="{{ site.baseurl }}/assets/images/ayo.jpeg" alt="">
		Hi, I'm <a href="https://twitter.com/ayisaiah">Ayo Isaiah</a>. I'm a freelance Front-End Developer and I live In Lagos, Nigeria. I care about Sports, Books and Tech. <a href="{{ site.baseurl }}/about/">Learn More</a>.</span>
	</div>
	<div class="meta">
		<ul>
			<li class="nav-link"><a href="{{ site.baseurl }}/about/">About</a></li>
			<li class="nav-link"><a href="{{ site.baseurl }}/blog/">Writing</a></li>
			<li class="nav-link"><a href="{{ site.baseurl }}/subscribe/">Subscribe</a></li>
		</ul>
	</div>
	<br>

	<span class="license">©{{ 'now' | date: "%Y" }} Ayo Isaiah. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Some Rights Reserved</a>.</span>
</footer>
