<header class="navigation">
	<!-- <span class="menu" onclick="openOverlay()"><img src="{{ site.baseurl }}/assets/images/icon-hamburger.svg" alt=""></span> -->
	<!-- <span class="links"><a href="https://ayoisaiah.xyz">Ayo Isaiah</a></span> -->
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <nav class="nav">
          <ul class="brand">
            <li><a href="/">Ayo Isaiah</a> <a href="https://twitter.com/ayisaiah">@ayisaiah</a></li>
          </ul>
          <ul class="nav-links">
            <li><a href="/about/" class="nav-link">About</a></li>
            <li><a href="/blog/" class="nav-link">Writing</a></li>
            <li><a href="/subscribe/" class="nav-link">Subscribe</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
