<nav class="navbar-mobile">
	<ul id="topnav" class="topnav">
		<span class="title"><a href="{{ site.baseurl }}/">Ayo Isaiah</a></span>
		<li class="nav-link"><a href="{{ site.baseurl }}/">Home</a></li>
		<li class="nav-link"><a href="{{ site.baseurl }}/about/">About</a></li>
		<li class="nav-link"><a href="{{ site.baseurl }}/blog/">Writing</a></li>
		<li class="nav-link"><a href="">Resources</a></li>
		<li class="nav-link"><a href="{{ site.baseurl }}/subscribe/">Subscribe</a></li>
		<li class="menu"><a href="javascript:void(0);" onclick="menu()"><i class="mdi mdi-menu"></i></a></li>
	</ul>
</nav>