<script>
function openOverlay () {
	document.getElementById("overlay").style.display = "flex";
}

function closeNav () {
	document.getElementById("overlay").style.display = "none";
}

</script>
{% if page.customjs %}
<script src="{{ page.customjs }}"></script>
{% endif %}
{% if page.password %}
<script>
	
	document.body.style.display = "none";

	var password = prompt("This post has not been published yet. You need password to view it");

	if (password == 9999) {
		document.body.style.display = "block";
	} else {
		alert("Sorry this article is yet to be published");
		window.location.href = "{{ site.baseurl }}/404/";
	}

</script>
{% endif %}

{% include analytics.html %}