<hr>
<div class="share-buttons">
	<ul>
		<li class="social-media-share"><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" class="btn button btn-1 btn-facebook">Share on Facebook</a></li>
		<li class="social-media-share"><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=ayisaiah&related={{ site.twitter_username }}" class="btn btn-2 button btn-twitter">Share on Twitter</a></li>
		<li class="social-media-share"><a href="https://reddit.com/submit?url={{ page.url }}" class="btn button btn-3 btn-reddit">Post to Reddit</a></li>
	</ul>
</div>