
<div class="share-buttons">

	<hr>

	<p>Share this article:</p>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=@ayisaiah&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><img src="{{ site.baseurl }}/images/twitter.png" alt="Twitter"></a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src="{{ site.baseurl }}/images/fb.png" alt="Facebook"></a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><img src="{{ site.baseurl }}/images/googleplus.png" alt="Google Plus"></a>

    <hr>
</div>