<div class="navigation" id="navigation">
	<div class="logo"></div>
	<nav class="navbar">
		<ul>
			<li class="navbar-link">
				<a href="{{ site.baseurl }}/" class="anchor" id="home-link">Home</a>
			</li>
			<li class="navbar-link">
				<a href="{{ site.baseurl }}/about/" class="anchor" id="about-link">About</a>
			</li>
			<li class="navbar-link">
				<a href="{{ site.baseurl }}/blog/" class="anchor" id="writing-link">Writing</a>
			</li>
			<li class="navbar-link">
				<a href="{{ site.baseurl }}/resources/" class="anchor" id="resources-link">Resources</a>
			</li>
			<li class="navbar-link">
				<a href="{{ site.baseurl }}/subscribe/" class="anchor" id="subscribe-link">Subscribe</a>
			</li>
		</ul>
	</nav>
	<div class="foot-social">
		<a href="http://github.com/ayoisaiah"><i class="mdi mdi-github-circle"></i></a>
		<a href="http://twitter.com/ayisaiah"><i class="mdi mdi-twitter"></i></a>
		<a href="https://ng.linkedin.com/in/ayisaiah"><i class="mdi mdi-linkedin-box"></i></a>
		<a href="mailto:sudo@ayoisaiah.com"><i class="mdi mdi-email"></i></a>
	</div>
</div>