// // Some of the styles here were adapted from Material Design Lite https://getmdl.io/components/#cards-section

.card {
	position: relative;
	box-sizing: border-box; 
	background-color: $white;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 2px;
	font-weight: 400;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

	h2 {
		text-align: left;
		font-family: $text-font-stack;
		font-weight: 700;
		line-height: 0.75;
		a {
			font-size: 2.2rem;
			color: $very-dark-grey;
		}
	}
}

.card-image {
	background-color: $very-dark-grey;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 200px;
}

.card-excerpt {
	font-size: 1.6rem;
	background-color: $white;
	padding: 10px 15px;
	color: rgba(0, 0, 0, 0.54);
}

.read-more {
	display: inline-block;
	background-color: transparent;
	border-top: 1px solid $light-grey;
	padding: 8px 0;
	width: 100%;
	line-height: normal;
	font-size: 1.6rem;
	box-sizing: border-box;

	a {
		display: inline-block;
		margin: 10px 10px;
		font-weight: 500;
		font-size: 1.6rem;
		padding: 10px 15px;
		background-color: transparent;

		&:hover {
			background-color: $light-grey;
			color: $link-blue;
			text-decoration: none;
		}
	}
}