.post-meta {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	color: $grey;
}

.post-reading-time {
	text-align: right;
}

.post-word-count {
	text-align: center;
}

.post-date {
	text-align: left;
}