.share-buttons {
	width: 100%;
	margin: 0px auto;

	ul, li {
		list-style-type: none;
		display: inline-block;
	}

	a {
		color: #fff;
		text-decoration: none;
		&:hover, &:focus, &:visited, &:active {
			text-decoration: none;
			color: #fff;
		}
	}
	.btn {
		width: 200px;
	}
	@for $i from 1 through length($social-colors) {
		.btn-#{$i} {
			$btn-color: nth($social-colors, $i);
			&:hover, &:focus, &:active {
				background-color: lighten($btn-color, 10%);
			}
			background-color: $btn-color;
		}
	}

	@media screen and (max-width: $mobile-break) {
		ul {
			text-align: center;
		}
	}

}