.share-buttons {
	width: 100%;
	margin: 0px auto;

	ul, li {
		list-style-type: none;
		display: inline-block;
	}

	a {
		text-decoration: none;
		&:hover, &:focus, &:visited, &:active {
			text-decoration: none;
		}
	}

	@for $i from 1 through length($social-colors) {
		.btn-#{$i} {
			$btn-color: nth($social-colors, $i);
			&:hover, &:focus {
				@include clickable-button-hover-focus($btn-color);
			}
			&:active {
				@include clickable-button-active($btn-color);
			}
			@include clickable-button($btn-color);
		}
	}

	@media screen and (max-width: $mobile-break) {
		ul {
			text-align: center;
		}
	}

}