@font-face {
	font-family: "Montserrat Light";
	src: url("../fonts/Montserrat-Light.woff") format("woff"),
			 url("../fonts/Montserrat-Light.ttf") format("truetype");
}

$sizes: (3.5rem, 2.8rem, 2.3rem, 1.5rem, 1.2rem, 1rem);
$weights: (700, 400, 400, 400, 400, 400);

@for $i from 1 through length($sizes) {
	h#{$i}{
		$size: nth($sizes, $i);
		$weight: nth($weights, $i);

		@include headingFontStack($size, $weight);
	}
}

h1 {
	text-align: left;
	@media screen and (max-width: $mobile-break) {
		font-size: 2.8rem;
	}
}

p {
	font-size: 1.8rem;
	font-weight: 400;
	color: #333;
}

li {
	list-style-type: disc;
	font-size: 1.8rem;
}

li:not(.social-media-share):not(.navbar-link):not(.nav-link):not(.title) {
	margin-left: 20px;
}