@font-face {
	font-family: "Montserrat Light";
	src: url("../fonts/Montserrat-Light.woff") format("woff"),
			 url("../fonts/Montserrat-Light.ttf") format("truetype");
}

$sizes: (4rem, 3.5rem, 2.5rem, 2.0rem, 1.5rem, 1.2rem);
$weights: (700, 600, 600, 600, 600, 600);

@for $i from 1 through length($sizes) {
	h#{$i}{
		$size: nth($sizes, $i);
		$weight: nth($weights, $i);

		@include headingFontStack($size, $weight);
	}
}

h1 {
	text-align: center;
}

p {
	font-size: 1.9rem;
	font-weight: 400;
	color: #333;
}

li {
	margin-left: 1em;
	list-style-type: disc;
	font-size: 1.8rem;
}