html {
	font-size: $rem-default;
}

body {
	height: 100%;
	font-family: $text-font-stack;
}

.main {
	position: relative;
	max-width: $site-max-width;
	margin: 0 auto;
	min-height: 100vh;
}

ul {
	list-style: none;
}

code {
	overflow: auto;
}

li:not(.social-media-share):not(.navbar-link):not(.nav-link) {
	margin-left: 40px;
}

::selection {
	background: $very-dark-grey;
	color: $white-grey;
}

::-moz-selection {
	background: $very-dark-grey;
	color: $white-grey;
}