html {
	box-sizing: border-box;
}

body {
	font-family: $text-font-stack;
	overflow-x: hidden;
}

ul {
	list-style: none;
}

li:not(.social-media-share):not(.navbar-link):not(.nav-link):not(.title) {
	margin-left: 20px;
}

::selection {
	background: $very-dark-grey;
	color: $white-grey;
}

::-moz-selection {
	background: $very-dark-grey;
	color: $white-grey;
}