html {
	box-sizing: border-box;
}

body {
	font-family: $text-font-stack;
	overflow-x: hidden;
}

ul {
	list-style: none;

  li {
    list-style-type: disc;
  }
}

::selection {
	background: $very-dark-grey;
	color: $white-grey;
}

::-moz-selection {
	background: $very-dark-grey;
	color: $white-grey;
}
