$container-width: 960px;
$container-width-larger-than-phablet: 90%;
$site-max-width: 1600px;
$break-point: 960px;
$mobile-break: 680px;

//Colors
$very-dark-grey: #333;
$grey: #bebdb5;
$light-grey: #d5d5d5;
$white: #fff;
$white-grey: hsl(0, 0%, 98%);
$black: #111;
$facebook: #3b5998;
$twitter: #1A8FD7;
$reddit: #333;
$social-colors: ($facebook, $twitter, $reddit);
$link-blue: #0F46FF;

//Fonts
$rembase: 62.5%;
// $line-height-base: 
$text-font-stack: "Source Sans Pro", sans-serif;
$headline-font-stack: "Bitter", serif;
$utility-font: "Montserrat Light", sans-serif;
//$code-font-stack:;