.navigation {
	font-weight: 600;
	z-index: 10;
	width: $nav-width;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: $very-dark-grey;
	background-position: fixed;
	overflow: auto;
	text-align: center;

	ul, li {
		display: block;
		list-style-type: none;
		a {
			text-decoration: none;
			color: $grey;
			padding: 10px 0;
			font-size: 1.5rem;
			font-weight: 800;
		}

		a:hover {
			color: $light-grey;
		}
	}

	.logo {
			z-index: 100;
			position: fixed;
			background: url("../images/ayo.jpeg");
			background-size: cover;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			margin-top: 6em;
			margin-left: 45px;
			top: 0;
			bottom: 0;
			// right: 10px;
		}

	.navbar {
		position: fixed;
		margin: 18em auto 0;
		width: ($nav-width - 80);
		padding: 30px;
		top: 0;
		bottom: 0;
		text-transform: uppercase;
	}

	.foot-social {
			padding: 30px;
			position: fixed;
			font-size: 24px;
			top: 0;
			bottom: 0;
			width: ($nav-width - 80);
			margin: 24em auto 0;
			
			a {
				padding-left: 5px;
				color: $light-grey;

					// .mdi-github-circle:hover {
					// 	color: #3b5998;
					// }

					// .mdi-twitter:hover {
					// 	color: #55ACEE;
					// }

					// .mdi-linkedin-box:hover {
					// 	color: #DB2824;
					// }

					// .mdi-email:hover {
					// 	color: #19577C;
					// }
			}
		}
}



@media screen and (max-width: $break-point) {
	.navigation, .navbar, .logo, .foot-social {
		display: none;
	}
}