.navbar {
	font-family: $utility-font;
	max-width: 1200px;
	margin: 0 auto;
	z-index: 3000;
}

ul.topnav, ul.topnav li {
	margin: 0;
	padding: 0;
	// text-transform: uppercase;
}

ul.topnav {
	overflow: hidden;
	background-color: $white;
}

ul.topnav li {
	list-style-type: none;
	float: left;
	padding: 20px 16px;

	&:not(:first-child) {
		float: right;
	}
}

ul.topnav a {
	display: inline-block;
	color: $very-dark-grey;
	text-align: center;
	text-decoration: none;
	font-size: 1.8rem;
	&:hover {
		text-decoration: underline;
	}
}

ul.topnav .menu {
	display: none;
}

.nav-links {
	display: inline-block;
	float: right;
}

@media screen and (max-width: $mobile-break) {

	li.title, .nav-links {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.title > span > a {
		margin-left: 10px;
	}

	.nav-links {
		float: none;
	}
}


