main {
	border-top: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
	// background-color: $white-grey;
	background: url("../images/light_noise.png") center center repeat;
	padding-top: 50px
}
