main {
	border-top: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
	background-color: $white-grey;
	padding-top: 50px
}

// .content-wapper {
// 	position: relative;
// 	background-color: $white-grey;
// 	padding-top: 100px;
// }

// @media screen and (max-width: $mobile-break) {
// 	.content-wrapper {
// 		padding-top: 10em;
// 	}
// }