.a-home {
	max-width: 700px;
	margin: 0 auto;

	&__headline {
		text-align: left;
		font-size: 6rem;
		@media screen and (max-width: $break-point) {
			font-size: 4rem;
		}
	}

  h2 {
    margin-bottom: 4rem;
  }

  aside {
    margin-top: 3.5rem;
		margin-bottom: 6rem;
  }
}
