.post-content {
	margin-top: 30px;
	padding-bottom: 50px;
}

article {
	margin: 0 auto;
	max-width: 700px;
	h1 {
		margin-bottom: 5px;
	}
	.subtitle {
			font-family: $text-font-stack;
			color: $grey;
			font-weight: 500;
			font-size: 2rem;
	}

	.post-date {
		@extend .subtitle;
	}

	iframe {
		margin-bottom: 2.5rem;
	}
}

.breakout {
	@include fullWidth();
	border-top: 1px solid $light-grey;
}

.comments {
	padding: 30px 0;
}